*, html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #001F3F;
}

nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: gold;
    font-size: 0;
    align-items: center;
}

nav .judul {
    display: flex;
    align-items: center;
}

nav .judul img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

nav .judul span {
    font-size: 50px;
}

a.navRight img,
a.navRight span {
    vertical-align: middle;
}

a.navRight .icon1 {
    display: inline-block;
    margin-right: 0px; /* Sesuaikan margin sesuai kebutuhan */
}
a.navRight .icon2 {
    display: inline-block;
    margin-right: 0px; /* Sesuaikan margin sesuai kebutuhan */
}

nav a {
    font-size: 20px;
    text-transform: uppercase;
    color: #001F3F;
    text-decoration: none;
    line-height: 80px;
    position: relative;
    z-index: 1;
    text-align: center;
    display: inline-block;
}
/* ANIMASI */
nav .animation {
    position: absolute;
    height: 5%;
    bottom: 0;
    z-index: 0;
    background-color: #ffffff;
    transition: all .5s ease 0s;
}
a:nth-child(1){ /* XENA */
    width: 16%;
}
nav a:nth-child(1):hover~.animation{                /* hover */
    width: 16%;
    left: 0;
}

a:nth-child(2){             /* Pemisah */
    width: 16%;
}
nav .start-home, a:nth-child(2):hover~.animation{   /* hover */
	width: 100%;
	left: 0%;
}

a:nth-child(3){ /* HOME */
    width: 10%;
}
nav a:nth-child(3):hover~.animation{   /* hover */
	width: 10%;
	left: 32%;
}
a:nth-child(4){ /* COLLECTION */
    width: 12%;
}
nav a:nth-child(4):hover~.animation{                /* hover */
    width: 12%;
    left: 42%;
}
a:nth-child(5){ /* ABOUT */
    width: 10%
}
nav a:nth-child(5):hover~.animation{                /* hover */
    width: 10%;
    left: 54%;
}

a:nth-child(6){             /* Pemisah */
    width: 18.5%;
}

a:nth-child(7){ /* SHOP */
    width: 9%;
}
nav a:nth-child(7):hover~.animation{                /* hover */
    width: 10%;
    left: 82.5%;
}
a:nth-child(8){ /* ACCOUNT */
    width: 10;
}
nav a:nth-child(8):hover~.animation{                /* hover */
    width: 10%;
    left: 90.5%;
}